p {
    background: lightskyblue;
    font: Verdana;
    text-align: center;
    font-size: 20px;
}

header{
    text-align: center;
}

container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid bisque;
}

container.div{
    flex: 1;
}

aside{
    text-align: center;
    width: 10%;
    height: 100%;
    padding-right: 10px;
    float: left;
    font-style: italic;
    background-color: purple;
}

section{
    display: flex;
    border: 5px solid bisque;
    float: center;
}

figure{
    align-content: center;
}